<html>
<head>
<title>{%block title%}{%endblock%}</title>
<!---->
<link rel="stylesheet" href="/jsweb/web/bas.css" type="text/css"> <!--#start from basweb-->
<script  src="/jsweb/web/bas.js">
function write();
</script>

<!-- <style type="text/css">@import url("bas.css")></style> -->
</head>
<body>
<script>
write();
</script>
{%block content%}{%endblock%}
{%block footer%}
<hr>
<p class="pp"><a href="http://www.baidu.com">www.baidu.com</a></p><!--class meet css .pp -->
{%endblock%}
</body>
</html>