/* class-->.*;id-->#* 
<p class="p1"--> p.p1>
*/

body
{
    background-image: url("/imageweb/image/002.jpeg");
    background-size: 100% 80%;
    background-position: top;
    background-repeat: no-repeat;
}